/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    #titulo {
        -fx-font-family: "Helvetica";
        -fx-font-style: italic;
        -fx-font-size: 36px;
        -fx-text-fill: #FFFFFF;
    }
    #AnchorPane{
        /*-fx-background-color: #000000;*/
    }
}